.tower {
    display: inline-block;
    
    width: 100vmin;
    height: 100vh;
  
    margin-left: calc((100% - 100vmin) / 2);
}

.row{
display: inline-block;
float: left;  

}

img{
    display: inline-block;
    float: left;  
    transform: rotate(180deg);
}